:root {
    --bs-primary-navbar: #212529;
}

.bs-primary-navbar {
    background-color: var(--bs-primary-navbar);
}

.display-movil {
    display: none;
}

.display-desktop {
    display: flex;
}

@media (max-width: 767px) {
    .display-movil {
        display: block !important;
    }
    .display-desktop {
        display: none;
    }
  }